.right-statisic-wrapper{
    padding: 20px;
    .item-statistic{
        .paper-icon{
            padding: 20px;
            min-width: 140px;
            .box-icon{
                padding: 15px;
                width: max-content;
                background-color: rosybrown;
                border-radius: 5px;
                .icon{
                    font-size: 40px;
                }
            }
            .box-info{
                margin-left: -5px;
                line-height: 140px;
                text-align: left;
                vertical-align: middle;
            }
        }
    }
}
