.buff-livestream-form{
    .heading{
        margin: 10px 20px 20px 20px;
    }
    .control-label{
        text-align: right;
        margin: 10px 0px;
    }

    .btn-purchase{
        padding:20px 0px;
        text-align: center;
        margin: 10px 20px;
        background-color: #90909014;
        border-top: 1.5px solid #8080802b;
    }
    .emoji-icon{
        text-align: center;
        font-size: 3.5em;
    }
}