.contact{
    .paper-wrapper{
        padding: 20px;
        .alert-info-wrapper{
            margin-bottom: 20px;
            margin-top: 20px;
        }
        .panel-summary{
            .summary-item{
                width: 100%;
            }
        }
        .info-item{
            margin-bottom: 10px;
            margin-top: 10px;
        }
    }
    .form-group{
        margin: 10px 0px;
    }
}