.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropup,
.dropdown {
    position: relative;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    content: "";
}

.react-bootstrap-table {
    .table {
        overflow: hidden;
        tbody {
            tr {
                td {
                    overflow: overlay;
                }
            }
        }
        thead {
            tr {
                th {
                    font-weight: 500;
                }
            }
        }
    }
}

.react-bootstrap-table-pagination-list .react-bootstrap-table-page-btns-ul {
    float: right !important;
    justify-content: flex-end;
}

.react-bs-table-sizePerPage-dropdown {
    button {
        span {
            display: none;
        }
    }
}

.form-validate-error {
    color: red;
    font-size: 10px;
    margin-top: 2px;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(14px, -10px) scale(0.75) !important;
    background-color: white;
    padding: 0px 4px 0px 4px;
}
