.upload-image-control {
    .input-image-wrapper {
        position: relative;
        overflow: hidden;
        .input-image {
            position: absolute;
            left: 0;
            min-width: 100%;
            opacity: 0;
        }
    }
}
